$button-height-md: 50px;
$button-height-sm: 36px;

$button-font-md: 18px;
$button-font-sm: 16px;

$button-padding-md: 0 16px;
$button-padding-sm: 10px 12px;
$button-padding-icon: 0;

$radius-sm: 7px;
$radius-lg: 30px;

$space-1: 10px;
$space-2: 20px;
$space-3: 30px;
$space-4: 50px;
$space-5: 70px;


$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;


$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px,
)
